.wrapper {
    margin: 0px;
}
.row {
    margin: 0px;
}

.card {
    background-color: lightblue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

h1{
    text-align: center;
    background-color: #212121;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.searchFor {
    font-weight: normal;
    font-size: 20px;
}